.Row {
    position: relative;
    width: 100%;
    height: 1.5em;
}
.Right {
    position: absolute;
    width: 50%;
    left: 50%;
    text-align: right;
}
.Left {
    position: absolute;
    width: 100%;
    text-align: left;
}

.Select {
    position: absolute;
    /*width: 100%;*/
    /*text-align: left;*/
}
.paramTitle{
    width: 50px;
    text-align: left;
    font-style: italic;
}
.paramName {
    text-align: left;
    margin-left: 10px;
}

.paramValue {
    width: 30px;
    text-align: left;
}
.Fee {
    margin-left: 10px;
}
.classHint {
    position: absolute;
    width: 100%;
    text-align: right;
    /*margin-left: 10px;;*/
}
.empty {
    visibility: hidden;
}
