.buttonGeneral {
    border-radius: 10px;
    width: 60px;
    height: 40px;
    text-align: justify-all;
    font-size: 12px
}

.buttonEnabled {
    border-width: 5px;
    border-color: cyan;
}
.answerNothing {
    background-color: white;
}
.answerTrue {
    background-color: greenyellow;
}
.answerFalse {
    background-color: red;
    color: white;
}
.answerHalfTrue {
    background-color: yellow;
}
.answerWater {
    background-color: black;
    color: white;
}
.Tea {
    background-color: orange;
    color: white;
    font-weight: bold;
}
.Coffee {
    background-color: brown;
    color: white;
    font-weight: bold;
}
.Water {
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}
.nextServed {
    color: red;
    font-weight: bold;
}
