.buttonGeneral {
    margin-left: 0px;
    margin-right: 0px;
    width: 32%;
    height: 30px;
    text-align: center;
}

.buttonCoffee {
    margin-left: 2%;
    margin-right: 2%;
    width: 32%;
    height: 30px;
    text-align: center;
}
.openCode {
    font-size: 12px;
    color: darkblue;
}

.buttonTake {
    width: 45%;
    height: 30px;
    text-align: center;
    margin-right: 10%;
    color: white;
    background-color: red;

}
.buttonTakeDisable {
    width: 45%;
    height: 30px;
    text-align: center;
    margin-right: 10%;
    color: white;
    background-color: #ffc0c0;
}

.buttonAsk {
    width: 45%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: red;
}
.buttonAskDisable {
    width: 45%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #ffc0c0;
}

.buttonActive {
    background-color: yellow;
    color: green;
}
.buttonNonActive {
    color: black;
}
.pultEmpty {
    visibility: hidden;
    height: 0px;
}
.pult {
    margin-top: 5px;
    visibility: visible;
}
