.buttonGeneral {
    margin-left: 0px;
    margin-right: 0px;
    width: 33.3%;
    height: 30px;
    text-align: center;
}

.buttonTake {
    width: 45%;
    height: 30px;
    text-align: center;
    margin-right: 10%;
    color: white;
    background-color: red;

}
.buttonTakeDisable {
    width: 45%;
    height: 30px;
    text-align: center;
    margin-right: 10%;
    color: white;
    background-color: #ffc0c0;
}

.buttonAsk {
    width: 45%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: red;
}
.buttonAskDisable {
    width: 45%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #ffc0c0;
}



.buttonActive {
    background-color: yellow;
    color: green;
}
.buttonNonActive {
    color: black;
}
.pultEmpty {
    visibility: hidden;
}
.pultEmpty {
    visibility: hidden;
    height: 0px;
}
.pult {
    margin-top: 15px;
    visibility: visible;
}

