.startGame {
    margin-top: 10px;
    margin-bottom: 10px;

}
.buttonNewGame {
    width: 45%;
    height: 30px;
    font-size: 20px;

}
.buttonEndGame {
    width: 45%;
    height: 30px;
    font-size: 20px;
    margin-left: 10%;
}
.buttonEndGameDisable {
    width: 45%;
    height: 30px;
    font-size: 20px;
    margin-left: 10%;
    color: #d0d0d0;
}
.paramTitle{
    width: 50px;
    text-align: left;
    font-style: italic;
}
.paramName {
    text-align: left;
    margin-left: 10px;
}

.paramValue {
    width: 30px;
    text-align: left;
    margin-left: 5px;
}
.classHint {
}
.empty {
    visibility: hidden;
}

