.main
{
    font-family: sans-serif;
}
.toMainGame
{
    margin: 5px;
    width:  27rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 5px;
}
.seria
{
    margin: 5px;
    height: 1rem;
}
.edit
{
    width:10rem;
}
.play
{
    margin: 5px;
    width:  13rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 5px;
}

.playing
{
    margin: 5px;
    width:  13rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 5px;
}

.clear
{
    margin: 5px;
    width:  13rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 5px;
}

.total
{
    font-family: monospace;
    margin: 5px;
    width:  30rem;
    height: 1rem;
}

.buttonPrize  {
    font-family: monospace;
    margin: 0;
    padding: 0;

    padding-right: 5px;
    text-align: right;

    width: 50px;
}
.buttonGames  {
    font-family: monospace;
    margin: 0;
    padding: 0;

    padding-right: 5px;
    text-align: right;

    width: 100px;
}
.buttonGist  {
    margin: 0;
    padding: 0;

    height: 1rem;
    background-color: green;
}
.buttonPlay {
    width:70px;
}