.Row {
    width: 100%;
    font-family: sans-serif;
    /*border: 1px solid black;*/
}
.Game {
    width: 40%;
    text-align: center;
    /*border: 1px solid black;*/
}
.emptyGame  {
    width: 40%;
    color: white;
    text-align: center;
    /*border: 1px solid black;*/
}
.Prize {
    width: 30%;
    text-align: right;
    /*border: 1px solid black;*/
}

.PrizeMax {
    width: 30%;
    text-align: left;
    /*border: 1px solid black;*/
}

.emptyPrize {
    width: 30%;
    color: white;
    /*border: 1px solid black;*/
}
