.Row {
    width: 100%;
    font-family: sans-serif;
    /*border: 1px solid black;*/
}
.Game {
    width: 60%;
    text-align: center;
    /*border: 1px solid black;*/
}
.emptyGame  {
    width: 60%;
    color: white;
    text-align: center;
    /*border: 1px solid black;*/
}
.Prize {
    width: 20%;
    text-align: right;
    /*border: 1px solid black;*/
}

.emptyPrize {
    width: 20%;
    color: white;
    /*border: 1px solid black;*/
}
