.steward {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
    z-index: 3;
    height: 4rem;
}
.steward5 {
    left: 59%;
}
.steward3 {
    left: 65%;
}

.row-with-steward {
    position: relative;
}
